html {
  font-family:'Hiragino Kaku Gothic Std',"arial unicode ms",sans-serif;
}

body{
  background-image: url(images/background.png);
  font-family:'Hiragino Kaku Gothic Std',"arial unicode ms",sans-serif;
}

.container{
  margin-top: 20px;
}
